$backgroundBody: #171718;
$backgroundCard: #1c1e22;
$white: #ffffff;
$colorMenu: #85bfd1;
$colorButton: #5c62ec;

@import "./index/base";
@import "./index/header";
@import "./index/mainSection";
@import "./index/principal";
@import "./index/information";
@import "./index/footer";
@import "./sobre/cards";
@import "./sobre/introduction";
