.information {
  display: flex;
  margin-top: 124px;
  margin-right: 4.5%;
  margin-left: 4.5%;
  background-color: $backgroundCard;
  color: white;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;

  div {
    flex: 1;
    font-size: 16px;
    margin-left: 0px;

    h2 {
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 16px;
      margin-top: 24px;
    }

    p {
      line-height: 28px;
      font-size: 16px;
    }

    a {
      display: inline-block;
      background-color: transparent;
      padding: 16px 20px;
      border: 1px solid #ffffff;
      border-radius: 8px;
      margin-top: 16px;
      font-weight: 500;

      img {
        margin-left: 12px;
        margin-right: 2px;
      }
    }
  }

  @include lg {
    flex-direction: row;

    div {
      margin-left: 32px;

      h2 {
        margin-top: 0px;
      }
    }
  }

  @include md {
    & {
      margin-right: 16.5%;
      margin-left: 16.5%;
      padding: 24px;
    }

    div {
      h2 {
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 32px;
      }
    }

    .arrow {
      margin-left: 15px;
    }
  }
}
