.div-cards {
  .habilidades {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 30px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4.5%;
    margin-right: 4.5%;

    div {
      margin-top: 24px;
      background-color: $backgroundCard;
      border-radius: 8px;
      padding: 24px 40px 16px 16px;

      h2 {
        font-size: 20px;
        font-weight: 500;
        padding-top: 18px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        padding-top: 10px;
      }
    }
  }
}
