$backgroundBody: #171718;
$backgroundCard: #1c1e22;
$white: #ffffff;
$colorMenu: #85bfd1;
$colorButton: #5c62ec;

@import "base";
@import "header";
@import "mainSection";
@import "principal";
@import "information";
@import "footer";